.header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image:
    linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), 
    url(/assets/images/header.png);

  &__nav {
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 1.5rem;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    user-select: none;
  }

  &__brand {
    padding: 0 1.5rem;
    align-self: center;
    display: flex;
    font-weight: 800;
    font-size: 1.8rem;
    cursor: pointer;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    display: flex;
  }

  &__nav-item {
    cursor: pointer;
    padding: 0 1.4rem;
    align-content: center;
    height: 100%;
    font-size: 1.2rem;
    color: $gray-6;
    transition: all 0.3s;

    &:not(:last-of-type) {
      margin-right: 0.3rem;
    }

    &.active {
      color: white
    }
  }

  &__nav-item:hover {
    color: $gray-4;
  }

  &__nav-text {
    margin-left: 0.2rem;
  }

  &__btns {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
  }

  &__btn {
    font-weight: 600;
    padding: 0.2rem 0.4rem;
    border: 1px solid white;
    cursor: pointer;

    &:first-child {
      border-right: none;
    }

    &:hover,
    &:active {
      color: black;
      background: white;
    }
  }

  &__container {
    height: 495px;
    display: flex;
    justify-content: center;
  }

  &__content {
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 10rem;
  }

  &__title {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.8px;
    margin: 0;
    font-size: 4rem;
  }

  &__desc {
    margin: 0;
    font-size: 1.2rem;
  }

  &__menu {
    display: none;
  }

  @media (max-width: 980px) {
    &__top {
      justify-content: space-between;
      flex-direction: row;
    }

    &__brand {
      display: inline-flex;
    }

    &__nav {
      flex-direction: column;
    }

    &__nav-list {
      display: none;
    }

    &__btns {
      display: none;
    }

    &__container {
      height: -webkit-fill-available;
    }

    &__content {
      word-break: keep-all;
      left: 1rem;
    }

    &__title {
      font-size: 4rem;
    }

    &__menu {
      display: inline-flex;
      align-self: center;
      padding-right: 1.5rem;
      font-size: 2rem;
      position: absolute;
      right: 0;
    }
  }

  &__nav-list.res {
    transition: all 0.2s;
    position: fixed;
    display: block;
    right: 1.5rem;
    top: 2.9rem;
    background-color: $gray-9;
    border: none;
  }

  &__nav-list.res &__nav-item {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;

    i {
      margin-right: 1rem;
    }
  }
}
