.members {
  margin-top: 3rem;
  width: 100%;

  &__year {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
  }

  &__desc {
    font-size: 1.2rem;
  }

  &__list {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.member {
  background-color: $gray-1;
  border-radius: 5px;
  padding: 0.8rem;

  &__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__image {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    // display: inline-block;
    display: inline-flex;
    margin-right: 0.5rem;
  }

  &__info {
    display: inline-flex;
  }

  &__name {
    font-size: 2rem;
    font-weight: 800;
    margin-right: 0.5rem;
  }

  &__small {
    display: inline-flex;
    flex-direction: column;
  }

  &__badge {
    display: block;
  }

  &__belong {
    display: block;
    font-size: 0.8rem;
  }

  &__btns {
    display: block;
  }
}
