.members {
  margin-top: 3rem;
  width: 100%;

  &__year {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
  }

  &__desc {
    font-size: 1.2rem;
  }

  &__list {
    margin-top: 1rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.member {
  background-color: $dark-0;
  border-radius: 5px;

  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-size: cover;
  }

  &__name {
    margin: 0;
  }
}
