.members {
  margin-top: 3rem;
  width: 100%;

  &__year {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;    
  }

  &__desc {
    font-size: 1.2rem;
  }

  &__list {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  @media (max-width: 1100px) {
    &__desc {
      display: flex;
    }
  }

  @media (max-width: 350px) {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}

.member {
  background-color: $gray-0;
  border-radius: 5px;
  padding: 1rem 1rem;
  position: relative;
  box-shadow: 2px 5px 32px -15px rgba(18, 18, 18, 0.2);
  transition: all 0.5s;
  border-radius: 5%;
  user-select: none;
  display: flex;
  flex-direction: column;

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    background-color: $gray-4;
    display: inline-flex;
    border-radius: 50%;
    box-shadow: 2px 5px 32px -15px rgba(18, 18, 18, 0.2);
    -webkit-user-drag: none;
  }

  &__info {
    display: inline-flex;
    flex-direction: column;
  }

  &__small {
    display: inline-flex;
    flex-direction: row;
  }

  &__belong {
    display: block;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    margin-right: 0.3rem;
  }

  &__badge {
    display: block;
    background: linear-gradient(to right, #faa2c1, #f06595);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    color: white;
  }

  &__name {
    font-size: 2.4rem;
    font-weight: 800;
  }

  &__btns {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    align-items: center;
    display: flex;
  }

  &__btn {
    color: $gray-5;
    font-size: 1.5rem;
    cursor: pointer;

    &:first-child {
      margin-right: 0.2rem;
    }

    &:hover,
    &:active {
      color: $gray-7;
    }
  }

  &:not(.runaway):hover {
    transform: scale(1.05);
    background-color: #fefefe;
  }

  &.runaway {
    // 탈주자
    cursor: not-allowed;
    filter: grayscale(0.8);
  }

  @media (max-width: 460px) {
    &__image {
      height: 7rem;
      width: 7rem;
    }

    &__btns {
      position: unset;
      width: 100%;
      text-align: right;
      display: block;
      margin: 0;
    }

    &:first-child {
      margin-right: 0;
      margin-left: 0.2rem;
    }
  }

  @media (max-width: 350px) {
    &__image {
      height: 5rem;
      width: 5rem;
    }

    &__belong {
      font-size: 1.2rem;
    }

    &__name {
      font-size: 1.4rem;
    }

    &__badge {
      font-size: 0.8rem;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
  }
}
