.posts-container {
  flex: 1 1;
  width: 100%;
}

.posts {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  padding-top: 1rem;
}

.post-item {
  padding: 2rem 1rem;
  border-bottom: 1px solid $gray-3;

  &:last-of-type {
    border-bottom: none;
  }

  &__meta {
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__field {
    display: flex;
    align-items: center;

    &:first-of-type {
      padding-bottom: 0.2rem;
    }
  }

  &__label {
    color: $gray-3;
    padding-right: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  &__value {
    color: $gray-4;
    display: flex;
    align-items: center;
  }

  &__author {
    margin-left: 0.2rem;
  }

  &__profile {
    height: 2rem;
    width: 2rem;
    margin-right: 0.1rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $gray-7;
  }

  &__title {
    margin: 0;
    font-size: 2.2rem;
    line-height: 1.5;
  }

  &__excerpt {
    color: $gray-5;
    margin: 0;
    font-size: 1.2rem;
  }

  &:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.02) 30%, rgba(255, 255, 255, 0.1))
  }
}
