<!DOCTYPE html>
<html lang="en">
  <head>
    {% include analytics.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta property="og:title" content="INU 기술 블로그">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://inudevs.github.io">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:description" content="나 그리고 너, 세상을 바꾸다.">
    <meta property="og:image" content="https://inudevs.github.io/assets/images/header.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1920">
    <meta property="og:image:height" content="1080">
    <meta property="og:image:alt" content="Background with INU logo on middle">

    <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/assets/main.css">
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
    <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  </head>
  <body>
    {% include header.html %}

    <main class="root-container">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
