---
layout: default
---

<div class="members">
  <span class="members__title">
    <span class="members__year">
      INU 2019
    </span>
    <span class="members__desc">
      2019년, 자율동아리로 시작한 INU와 함께하고 있는 사람들입니다.
    </span>
  </span>
  <div class="members__list">
    {% assign users = site.data.users %}
    {% for user in users %}
      <div class="member">
        <div class="member__image"></div>
        <span class="member__name">{{ user.name }}</span>
        <span class="member__belong">{{ user.belong }}</span>
      </div>
    {% endfor %}
  </div>
</div>
