---
layout: default
---

<div class="post">
  <p class="post__meta">
    <span class="post__date">
      {{ page.date | date: '%Y년 %m월 %d일' }},
    </span>
    {% if post.author %}
      <span class="post__author">
        {{ post.author }}
      </span>
      <img class="post__profile" src="https://github.com/{{ post.author.github }}.png" />
    {% else %}
      <span class="post__author">
        {{ site.owner.name }}
      </span>
      <img class="post__profile" src="{{ site.owner.profile }}" />
    {% endif %}
  </p>
  <h1 class="post__title">{{ page.title }}</h1>
  <div class="post__content">
    {{ content }}
  </div>
</div>

<style>
.post__title {
  display: inline-block;
  line-height: 1em;
}
</style>
